<a href="https://colab.research.google.com/github/CharlyAndriani/Data-Analisys-Python-FCC/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Demographic Data Analyzer

In [1]:
import pandas as pd


# def calculate_demographic_data(print_data=True):
    # Read data from file
    # df = pd.read_csv("adult.data.csv")

    # How many of each race are represented in this dataset? This should be a 
    # Pandas series with race names as the index labels.
    # race_count = df["race"].value_counts()

### First analysis

In [2]:
df = pd.read_csv("adult.data.csv")

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [32]:
df.shape

(32561, 15)

In [29]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [30]:
type(df)

pandas.core.frame.DataFrame

### Definition of variable race_count

In [3]:
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [26]:
type(race_count)

pandas.core.series.Series

### Definition of variable average_age_men

In [4]:
average_age_men = round(df[['sex', 'age']].groupby('sex').mean().loc['Male'].values[0], 1)
average_age_men

# type(average_age_men)

39.4

### Definition of variable percentage_bachelors

In [5]:
# We determine the total of each type of education
edu_counts = df['education'].value_counts()
edu_counts

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [6]:
# We determine the percentage of 'Bachelors'
percentage_bachelors = round(((edu_counts.loc['Bachelors'] / df.shape[0]) * 100), 1)
percentage_bachelors

#round(sum(df.education == 'Bachelors')/sum(edu) *100, 2)

# x = df.shape[0]
# x

16.4

### Definition of variable higher_education

In [7]:
h_edu_counts = edu_counts.loc[['Bachelors', 'Masters', 'Doctorate']]
h_edu_counts

Bachelors    5355
Masters      1723
Doctorate     413
Name: education, dtype: int64

In [8]:
l_edu_counts = edu_counts.drop(['Bachelors', 'Masters', 'Doctorate'])
l_edu_counts

HS-grad         10501
Some-college     7291
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [9]:
# We determine the percentage of Bachelors, Masters, Doctorate in Education

higher_education = (h_edu_counts / df.shape[0]) * 100
higher_education

# type(higher_education)

Bachelors    16.446055
Masters       5.291607
Doctorate     1.268389
Name: education, dtype: float64

In [10]:
#We determine the total percentage with higuer education in Education
totperc_higher_education = round(higher_education.sum(), 1)
totperc_higher_education

23.0

### Definition of variable lower_education

In [11]:
# We determine the percentage of each lower education in Education

lower_education = (l_edu_counts / df.shape[0]) * 100
lower_education

HS-grad         32.250238
Some-college    22.391818
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64

### Definition of variable higher_education_rich

In [12]:
# We determine the total of each type of education and his salary

edu_sal_counts = df[['education', 'salary']].value_counts()
edu_sal_counts

education     salary
HS-grad       <=50K     8826
Some-college  <=50K     5904
Bachelors     <=50K     3134
              >50K      2221
HS-grad       >50K      1675
Some-college  >50K      1387
11th          <=50K     1115
Assoc-voc     <=50K     1021
Masters       >50K       959
10th          <=50K      871
Assoc-acdm    <=50K      802
Masters       <=50K      764
7th-8th       <=50K      606
9th           <=50K      487
Prof-school   >50K       423
12th          <=50K      400
Assoc-voc     >50K       361
5th-6th       <=50K      317
Doctorate     >50K       306
Assoc-acdm    >50K       265
1st-4th       <=50K      162
Prof-school   <=50K      153
Doctorate     <=50K      107
10th          >50K        62
11th          >50K        60
Preschool     <=50K       51
7th-8th       >50K        40
12th          >50K        33
9th           >50K        27
5th-6th       >50K        16
1st-4th       >50K         6
dtype: int64

In [13]:
# We determine the salary of Bachelors, Masters, Doctorate

h_edu_sal_counts = edu_sal_counts.loc[['Bachelors', 'Masters', 'Doctorate']]
h_edu_sal_counts

education  salary
Bachelors  <=50K     3134
           >50K      2221
Masters    >50K       959
           <=50K      764
Doctorate  >50K       306
           <=50K      107
dtype: int64

In [14]:
# We determine wich Bachelors, Masters, Doctorate have a salary >50K

h_edu_h_sal_counts = h_edu_sal_counts.iloc[[1, 2, 4]]
h_edu_h_sal_counts

education  salary
Bachelors  >50K      2221
Masters    >50K       959
Doctorate  >50K       306
dtype: int64

In [15]:
# salary_count = df['salary'].value_counts()

higher_education_rich = round(((h_edu_h_sal_counts.sum() / h_edu_counts.sum()) * 100), 1)
higher_education_rich

46.5

In [19]:
type(higher_education_rich)

numpy.float64

### Definition of variable lower_education_rich

In [16]:
# We determine the salary for each lower education in Education

l_edu_sal_counts = edu_sal_counts.drop(['Bachelors', 'Masters', 'Doctorate'])
l_edu_sal_counts

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

education     salary
HS-grad       <=50K     8826
Some-college  <=50K     5904
HS-grad       >50K      1675
Some-college  >50K      1387
11th          <=50K     1115
Assoc-voc     <=50K     1021
10th          <=50K      871
Assoc-acdm    <=50K      802
7th-8th       <=50K      606
9th           <=50K      487
Prof-school   >50K       423
12th          <=50K      400
Assoc-voc     >50K       361
5th-6th       <=50K      317
Assoc-acdm    >50K       265
1st-4th       <=50K      162
Prof-school   <=50K      153
10th          >50K        62
11th          >50K        60
Preschool     <=50K       51
7th-8th       >50K        40
12th          >50K        33
9th           >50K        27
5th-6th       >50K        16
1st-4th       >50K         6
dtype: int64

In [24]:
type(l_edu_sal_counts)

pandas.core.series.Series

In [64]:
l_edu_h_sal_counts = l_edu_sal_counts.iloc[[2, 3, 10, 12, 14, 17, 18, 20, 21, 22, 23, 24]]
l_edu_h_sal_counts

education     salary
HS-grad       >50K      1675
Some-college  >50K      1387
Prof-school   >50K       423
Assoc-voc     >50K       361
Assoc-acdm    >50K       265
10th          >50K        62
11th          >50K        60
7th-8th       >50K        40
12th          >50K        33
9th           >50K        27
5th-6th       >50K        16
1st-4th       >50K         6
dtype: int64

In [18]:
lower_education_rich = round((l_edu_h_sal_counts.sum() / l_edu_sal_counts.sum()) * 100, 1)
lower_education_rich

17.4

In [23]:
type(lower_education_rich)

numpy.float64

### Definition of variable min_work_hours

In [19]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### Definition of variable num_min_workers and rich_percentage

In [20]:
salary_one_hour_per_week = df[['hours-per-week', 'salary']].value_counts().loc[1]
salary_one_hour_per_week

salary
<=50K    18
>50K      2
dtype: int64

In [21]:
num_min_workers = df['hours-per-week'].value_counts().loc[1]
num_min_workers

20

In [22]:
rich_percentage = round(((salary_one_hour_per_week.loc['>50K'] / num_min_workers) * 100))
rich_percentage

10

### Definition of variable highest_earning_country and highest_earning_country_percentage

In [48]:
p_p_c = df['native-country'].value_counts()#.loc['>50K', 'Iran']
p_p_c

32561

In [42]:
h_sal_people_per_country = df[['salary', 'native-country']].value_counts()#.loc['>50K']
h_sal_people_per_country

salary  native-country
<=50K   United-States         21999
>50K    United-States          7171
<=50K   Mexico                  610
        ?                       437
>50K    ?                       146
                              ...
        Trinadad&Tobago           2
        Nicaragua                 2
        Dominican-Republic        2
        Honduras                  1
<=50K   Holand-Netherlands        1
Length: 82, dtype: int64

In [ ]:
high_salary = df.loc[df.salary == '>50K']
high_salary

In [ ]:
people_per_country = df.groupby('native-country')['native-country'].count()
people_per_country

In [ ]:
h_sal_people = high_salary.groupby('native-country')['native-country'].count()
h_sal_people

In [56]:
highest_earning_country = (h_sal_people/people_per_country * 100).idxmax()
highest_earning_country

'Iran'

In [58]:
highest_earning_country_percentage = round((h_sal_people/people_per_country * 100), 1).max()
highest_earning_country_percentage

41.9

### Definition of variable top_IN_occupation

In [ ]:
india_high_salary = df.loc[(df.salary == '>50K') & (df['native-country'] == 'India')]
india_high_salary

In [63]:
top_IN_occupation = india_high_salary.groupby('occupation')['occupation'].count().idxmax()
top_IN_occupation

'Prof-specialty'