<a href="https://colab.research.google.com/github/CharlyAndriani/Data-Analisys-Python-FCC/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Demographic Data Analyzer

In [3]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv("adult.data.csv")

    # How many of each race are represented in this dataset? This should be a 
    # Pandas series with race names as the index labels.
    race_count = df["race"].value_counts()

### First analysis

In [4]:
df = pd.read_csv("adult.data.csv")

In [7]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [32]:
df.shape

(32561, 15)

In [29]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [30]:
type(df)

pandas.core.frame.DataFrame

### Definition of variable race_count

In [9]:
'''races = df["race"].unique()
races

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [27]:
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [26]:
type(race_count)

pandas.core.series.Series

In [ ]:
'''race_count = pd.Series(x)
race_count.index = [
    'White',
    'Black',
    'Asian-Pac-Islander',
    'Amer-Indian-Eskimo',
    'Other'
]
race_count.name = 'How many people of each race'

race_count

### Definition of variable average_age_men

In [82]:
average_age_men = round(df[['sex', 'age']].groupby('sex').mean().loc['Male'].values[0], 1)
average_age_men

# type(average_age_men)

39.4

### Definition of variable percentage_bachelors

In [84]:
percentage_bachelors = round(((df['education'].value_counts().loc['Bachelors'] / df.shape[0]) * 100), 1)
percentage_bachelors

# x = df.shape[0]
# x

16.4

### Definition of variable higher_education

In [88]:
# coleducation = df['education'].value_counts()
# coleducation

higher_education = (df['education'].value_counts().loc[['Bachelors', 'Masters', 'Doctorate']] / df.shape[0]) * 100
higher_education

# type(higher_education)

Bachelors    16.446055
Masters       5.291607
Doctorate     1.268389
Name: education, dtype: float64

In [90]:
totperc_higher_education = higher_education.sum()
totperc_higher_education

23.006050182733944

### Definition of variable lower_education